.ar {
    position: relative;
    -webkit-animation: mymove 5s infinite;
    /* Safari 4.0 - 8.0 */
    animation: mymove 5s;
    font-family: cursive;
    font-style: italic;
    font-size: 20px;
    
}
@-webkit-keyframes mymove {
    from {
        left: 600px;
    }
    to {
        left: 0px;
    }
}
/* Standard syntax */

@keyframes mymove {
    from {
        left: 600px;
    }
    to {
        left: 0px;
    }
}